{% extends "baseGeneric.html" %}

{% block title %}Вход в аккаунт{% endblock %}

{% block content %}

{% if form.errors %}
<p class = "error-text">Неправильное имя и/или пароль<p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>У вашего аккаунта нет доступа к данному ресурсу,
    если вы не согласны, то попробуйте зайти с другого аккаунта</p>
  {% else %}
    <p>Пожалуйста войдите в аккаунт, чтобы зарегистрироваться.</p>
    </p><a href = {url 'login'}>Пожалуйста войдите в аккаунт, чтобы увидеть данные этой страницы.</a></p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'passwordReset' %}">Lost password?</a></p>

{% endblock %}
